body {
  margin: 0;
  font-family: 'Lato';
  padding: 2em;
  background: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 4em;
  margin-top: 2em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 4em;
  margin-top: 2em;
}

.aboutcard {
  background: white;
  padding: 1.5em;
  border-radius: .4em;
  box-shadow:
    0 3.1px 2.2px rgba(115, 48, 91, 0.07),
    0 5.3px 6.3px rgba(115, 48, 91, 0.046),
    0 7.7px 14.4px rgba(115, 48, 91, 0.044),
    0 17px 42px rgba(115, 48, 91, 0.04)
  ;
}

.projectcard {
  background: white;
  padding: 1.5em;
  border-radius: .4em;
  box-shadow:
    0 3.1px 2.2px rgba(115, 48, 91, 0.07),
    0 5.3px 6.3px rgba(115, 48, 91, 0.046),
    0 7.7px 14.4px rgba(115, 48, 91, 0.044),
    0 17px 42px rgba(115, 48, 91, 0.04)
  ;
}

.projectcard img {
  max-width: 400px;
}