.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* { box-sizing: border-box; }

.grid-item {
  display: flex;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  align-content: center;
  grid-template-columns: auto auto;
  padding: 10px;
}

:root {
  --header-color: white;
}

a  {
  text-decoration: none;
  color: white;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  background: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
    "header"
    "project"
    "about"
    "contact"
    "footer"; 
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2.5px;
  text-align: center;
  color: white;
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2.5px;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Header */
header {
  grid-area: header;
  background: linear-gradient(
      rgba(39, 38, 64, 0.65), 
      rgba(39, 38, 64, 0.65)
    ),
    url('/images/backgroundimg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Logo design */
#logo {
  color: var(--header-color);
  font-family: 'Leckerli One';
  font-size: 40px;
  text-decoration: none;
  float: left;
  display: block;
  position: absolute;
  margin-top: 0.5em;
  margin-left: 0.9em;
} 

header[role="banner"] {
  width: 100%;
}

header[role="banner"] nav {
  float: right;
}

/* Top navigation */
#top-nav ul {
  list-style: none;
  margin-top: 1.5em;
  margin-right: 1.5em;
}

#top-nav ul li {
  padding: .8em;
  float: left;
}

#top-nav a {
  color: var(--header-color);
  text-align: center;
  padding-bottom: .3em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

#top-nav a:hover {
  border-bottom: 3px solid rgb(191, 128, 151);
}

/* Title Content */
#head {
  padding: 11em 0;
}

#head h1 {
  text-transform: uppercase;
  font-size: 45px;
  color: var(--header-color);
  letter-spacing: 2.5px;
}

#head p {
  width: 70%;
  margin: 0 auto;
  color: var(--header-color);
  font-size: 20px;
}

/* Project Section */
main {
  grid-area: project;

  padding: 50px;
  padding-bottom: 70px;
  background: linear-gradient(
    rgb(39, 38, 64),
    rgb(115, 48, 91));
}

.grid-container#project {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

.card#projects {
  padding: 20px 30px 20px 30px;
  max-width: 1000px;
  display: inline-block;
}

.card#projects ul {
  list-style: none;
  margin: 0 auto;
}

.card#projects ul li {
  padding: 0.8em;
}

/* About Section */
section#about {
  grid-area: about;
  padding: 50px;
  padding-bottom: 70px;
  background: linear-gradient(
    rgb(115, 48, 91),
    rgb(166, 88, 124));
  color: white;
  text-align: center;
}

.card {
  padding: 10px;
  float: left;
  background-color: white;
  color: black;
  text-align: center;
  max-width: 1000px;
}

.card ul {
  list-style: none;
  float: left;
}

.card ul li {
  padding: .8em;
  float: left;
}

.card img {
  min-width: 300px;
  
  max-height: 450px;
  margin-bottom: -.2em;
}

/* Contact Section */
section#contact {
  grid-area: contact;
  padding: 50px;
  padding-bottom: 70px;
  background: linear-gradient(
    rgb(166, 88, 124),
    rgb(191, 128, 151));
  color: white;
}

section#contact ul {
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
  margin: auto;
}

section#contact ul li {
  float: left;
}

section#contact ul li:not(:last-child):after {
  content: '|';
  position: relative; 
  padding: 0 10px 0 10px;
  opacity: 0.3;
  color: white;
}

section#contact a {
  text-decoration: none;
  color: white;
  padding-bottom: .3em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

section#contact a:hover {
  border-bottom: 3px solid rgb(39, 38, 64);
}

.button {
  height: 50px;
  width: 150px;
  padding: 12px;
  display: inline-block;
  border-radius: 35px;
  background-color: rgb(39, 38, 64);
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

.button a{
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color:rgb(191, 128, 151);
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Footer */
footer {
  grid-area: footer;
  padding: 1.5em;
  text-align: center;
  background-color: rgb(191, 128, 151);
  color: white;
}